---
---
<div class="w-full lg:w-1/2 px-0 sm:px-8">
    <div> blah</div>
    <div> <img src="/images/rackphoto.jpg"/></div>
				
    <ul class="space-y-12">
        <li class="flex md:-mx-4">
            <div class="pr-4 sm:pl-4">
                <span
                    class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
                >
                    1</span
                >
            </div>
            <div class="px-4">
                <h3 class="mb-4 text-xl font-semibold font-heading">Top Quality Firmware</h3>
                <p class="text-gray-500 dark:text-gray-400">


We are serious about firmware. The state-of-the-art software today offers a wealth of tools, and we will utilize anything to develop better firmware. 

At the end of the day you need binaries you can trust.  We can deliver confidently, because we cover much more scope than source code and binaries.  We view development itself as a system that needs to be built, and source code is just one component. 

Some of these things include reproducible build systems, portable unit test frameworks, version control of both source and binaries.

We are equally serious about electrical engineering and hardware.  And we’re pretty good at the cloud stuff too.

Our clients get the best firmware without trading off quality anywhere else.

Here are some things we work on:

    C/C++, GNU tools, CMake
    ARM Cortex-M microcontrollers
    Embedded Linux application development
    Wireless communication
    Unit testing


                </p>
            </div>
        </li>
        <li class="flex md:-mx-4">
            <div class="pr-4 sm:pl-4">
                <span
                    class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
                >
                    2</span
                >
            </div>
            <div class="px-4">
                <h3 class="mb-4 text-xl font-semibold font-heading"> Full Product Lifecycle</h3>
                <p class="text-gray-500 dark:text-gray-400">
                

We have started projects from the beginning with dev kits, we have seen projects through to production. and beyond.  We can hit the ground running at any phase of a project. 

The IoT market moves very fast, and we move fast.  We build things up fast, and change things up fast.  But we will not allow any technical debt to accumulate. 

Long-term success will require firmware to be flexible enough to support changes down the line such as:

    Product variants
    Regulatory compliance
    Third-party integrations


                </p>
            </div>
        </li>
        <li class="flex md:-mx-4">
            <div class="pr-4 sm:pl-4">
                <span
                    class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
                >
                    3</span
                >
            </div>
            <div class="px-4">
                <h3 class="mb-4 text-xl font-semibold font-heading">
Automated Testing Solutions

</h3>
                <p class="text-gray-500 dark:text-gray-400">
                

Investing in automated test fixtures is a critical risk mitigator for IoT products.

We create turn-key automation solutions, and we can leverage any existing automation you have.

A huge problem with QA in general, is that it is expensive, and the cost-benefit ratio can be too high.

Our clients don’t get a QA Engineer.  They get a full stack embedded engineer who cares about QA enough to build systems around it.

We build automated test systems that are correct, reliable, will provide valuable information, for any scope, from triggering all the way to report delivery.  All for a cost so low, the ROI is undeniable.

Some of the things we’ve done are:

    End to end testing with hardware
    Test execution frameworks
    Test middleware and integration
    Pipelining and full automation
    Manual test plans


                </p>
            </div>
        </li>
    </ul>
</div>