---
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>Let us help with your product</span>
				</h2>
				<p class="text-xl text-gray-600 dark:text-slate-400">
					Please feel free to contact us
				</p>
				<p class="text-xl text-gray-600 dark:text-slate-400">
					Please excuse the site, it's under construction
				</p>

				<div class="mt-6">
					<a
						class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
						href="https://google.com"
						target="_blank"
						rel="noopener"
					>
					(insert email here)
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
