---
import { Icon } from 'astro-icon';
---

<footer id="footer" class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<div class="text-sm text-[#F5F5F5] mr-4 ">
				(c) 2022 Bootladder, LLC 
			</div>
		</div>
	</div>
</footer>
