---
import { getPermalink, getBlogPermalink, getHomePermalink } from '~/utils/permalinks'; 
---
<header
	class="sticky top-0 z-40 flex-none mx-auto w-full bg-[#181818] border-b "
>
	<div class="py-8 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4">
		<div class="flex justify-between">
			<a class="flex items-center" href={getHomePermalink()}>
				<span class="headernavbutton ml-2 text-2xl font-bold text-[#F5F5F5] ">
					bootladder engineering </span
				>
			</a>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-screen md:h-auto"
			aria-label="Main navigation"
			id="menu"
		>
			<ul
				class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center collapse w-full md:w-auto collapsed text-xl md:text-base"
			>
				<li> <a class="headernavbutton" href="/blog/" >Blog </a> </li>
				<li> <a class="headernavbutton" href="/about/" >About </a> </li>
			</ul>
		</nav>
	</div>
</header>
