---
let banner = await import('~/assets/images/banner.svg')

---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16">
                <div class="bg-[#181818]">
                    <image
                    src={banner.default}
                    />
                </div>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						We help IoT companies, from hardware to the cloud
					</p>
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-700 hover:bg-gray-800 w-full"
								href="#features">Let's Talk Shop</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
