---
import { Icon } from 'astro-icon';
let globesquiggle = await import('~/assets/images/globesquiggle.svg')
let labsquiggle = await import('~/assets/images/labsquiggle.svg')
let brainsquiggle = await import('~/assets/images/brainsquiggle.svg')

const items = [
	{
		title: 'Firmware is Software',
		description:
			'The gap between embedded and server-based software development is near zero. We develop firmware with state-of-the-art software engineering practices, built on top of a traditional electrical engineering background',
		icon: 'flat-color-icons:home',
		imgsrc: globesquiggle.default,

	},
	{
		title: 'Testing Testing Testing',
		description:
			'The ability to adapt and pivot ultimately boils down to how much automated test coverage there is. Automated testing and pipelining at all levels from unit to end-to-end is paramount',
		icon: 'flat-color-icons:faq',
		imgsrc: labsquiggle.default,
	},
	{
		title: 'Product First Mindset',
		description:
			'Firmware is no longer a siloed component. The Internet of Things (IoT) has brought all aspects of product development into the realm of firmware. Firmware is our specialty but our mindset is always product-wide, product-first.',
		icon: 'flat-color-icons:video-projector',
		imgsrc: brainsquiggle.default,
	},
];
---

<section class="relative">
	<div class="absolute inset-0 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2 class="italic text-4xl md:text-5xl text-[#F5F5F5]  font-['Open_Sans'] leading-tighter tracking-tighter mb-4 font-heading">
					It's about flexibility and risk mitigation.
				</h2>
				<h2 class="italic text-4xl md:text-5xl text-[#F5F5F5]  font-['Open_Sans'] leading-tighter tracking-tighter mb-4 font-heading">
					The market moves fast.  Requirements change.  Technology changes.
				</h2>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon,imgsrc }) => (
						<div class="relative flex flex-col p-6 bg-[#181818] rounded transition ">
							<div class="flex justify-center mb-4">
								<image src={imgsrc} class="w-24 h-24" />
							</div>
							<div class="flex items-center mb-4">
								<div class="ml-4 text-[32px] font-bold text-[#F5F5F5]">{title}</div>
							</div>
							<p class="text-gray-500 text-md px-6">{description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
